*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
}

header{
    width: 1240px;
    height: 90px;
}
header > div.topMenu{
    position: relative;
}
header > div.topMenu::after{
    content: "";
    display: block;
    clear: both;
}
header > div.topMenu > a{
    float: left;
    width: 130px;
    height: 100%;
    display: block;
}
header > div.topMenu > ul {}
header > div.topMenu > ul > li {}
header > div.topMenu > ul > li div.submenu{}