<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPAO</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="js/ie.js"></script>
</head>

<body>
    <div class="wrap">
        <header>
            <div class="topMenu">
                <a href=""><img src="/img/top_logo.png" alt="mainlogo"></a>
                <ul>
                    <li class="top_menu_women"><a href="#">우먼</a>
                        <div class="submenu">
                            <ul class="d1">
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">기간할인</a></li>
                                <li><a href="#">베스트</a></li>
                                <li><a href="#">쿨테크</a></li>
                            </ul>

                            <ul class="d2">
                                <li><a href="#">티셔츠/블라우스</a></li>
                                <li><a href="#">셔츠/블라우스</a></li>
                                <li><a href="#">이너웨어</a></li>
                                <li><a href="#">데님</a></li>
                                <li><a href="#">팬츠</a></li>
                                <li><a href="#">원피스/스커트</a></li>
                                <li><a href="#">아우터</a></li>
                                <li><a href="#">니트/가디건</a></li>
                                <li><a href="#">스포츠웨어</a></li>
                                <li><a href="#">린넨</a></li>
                                <li><a href="#">엑세서리</a></li>
                                <li><a href="#">홈웨어</a></li>
                            </ul>
                        </div>
                    </li> <!--women end-->
                    <li class="top_menu_men"><a href="#">맨</a>
                    <div class="submenu">
                            <ul class="d1">
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">기간할인</a></li>
                                <li><a href="#">베스트</a></li>
                                <li><a href="#">쿨테크</a></li>
                            </ul>

                            <ul class="d2">
                                <li><a href="#">티셔츠/스웨트</a></li>
                                <li><a href="#">셔츠</a></li>
                                <li><a href="#">데님</a></li>
                                <li><a href="#">팬츠</a></li>
                                <li><a href="#">아우터</a></li>
                                <li><a href="#">니트/가디건</a></li>
                                <li><a href="#">이너웨어</a></li>
                                <li><a href="#">홈웨어</a></li>
                                <li><a href="#">스포츠웨어</a></li>
                                <li><a href="#">린넨</a></li>
                                <li><a href="#">엑세서리</a></li>
                            </ul>
                        </div></li> <!--men end-->
                    <li class="top_menu_kids"><a href="#">키즈</a>
                    <div class="submenu">
                            <ul class="d1">
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">기간할인</a></li>
                                <li><a href="#">베스트</a></li>
                                <li><a href="#">반팔 파자마</a></li>
                            </ul>

                            <ul class="d2">
                                <li><a href="#">상의</a></li>
                                <li><a href="#">하의</a></li>
                                <li><a href="#">상하 세트</a></li>
                                <li><a href="#">데님</a></li>
                                <li><a href="#">원피스/스커트</a></li>
                                <li><a href="#">아우터</a></li>
                                <li><a href="#">쿨테크/이너웨어</a></li>
                                <li><a href="#">파자마</a></li>
                                <li><a href="#">엑세서리</a></li>
                                <li><a href="#">컬래버레이션</a></li>
                            
                            </ul>
                        </div></li> <!--kids end-->
                    <li class="top_menu_col"><a href="#">컬래버레이션</a>
                    <div class="submenu">
                            <ul class="d1">
                                <li><a href="#">신상품</a></li>
                                <li><a href="#">베스트</a></li>
                            
                            </ul>

                            <ul class="d2">
                                <li><a href="#">파자마</a></li>
                                <li><a href="#">의류</a></li>
                                <li><a href="#">엑세서리</a></li>
                                <li><a href="#">키즈</a></li>
                                
                            </ul>
                        </div></li> <!--col end-->
                    <li class="top_menu"><a href="#">라이브</a></li>
                    <li class="top_menu"><a href="#">리뷰</a></li>
                    <li class="top_menu"><a href="#">이벤트</a></li>
                    <li class="top_menu"><a href="#">할인상품</a></li>
                </ul>
            </div><!--topMenu end-->

            <div class="nav">
                <article>
                    <div class="top_pic">
                        <a href="#"><img src="/img/login.png"></a>
                    </div>
                </article>
                <article>
                    <div class="top_pic">
                        <a href="#"><img src="/img/search.png"></a>
                    </div>
                </article>
                <article>
                    <div class="top_pic">
                        <a href="#"><img src="/img/wish.png"></a>
                    </div>
                </article>
            </div>

        </header>

        <div class="banner"></div><!--banner 끝-->

        <div class="list">
            <div class="best"></div>
            <div class="new"></div>
        </div><!--list 끝-->

        <div class="bottomBanner"></div><!--bottom 끝-->

        <footer></footer><!--footer 끝-->
    </div><!--wrap 끝-->
</body>

</html>